@import url("./tailwind.css");

:root {
  font-family: "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff00dd;
}
