@import url("./tailwind.css");

:root {
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.primary");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.secondary");
}

.testimonials-container::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000123;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.primary");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.secondary");
}
